/AlertaOSEmergencialDaoInterface.class
/AmbienteDaoInterface.class
/CategoriaDaoInterface.class
/CentroCustoDaoInterface.class
/ClienteDaoInterface.class
/ComodatoDaoInterface.class
/ContaDaoInterface.class
/ContagemDaoInterface.class
/DescarteEquipamentoDaoInterface.class
/DescricaoEquipamentoDaoInterface.class
/DespesaDaoInterface.class
/DevolucaoSublocadosDaoInterface.class
/EquipamentoDaoInterface.class
/EquipamentoSublocadoDaoInterface.class
/FornecedorDaoInterface.class
/FreelancerDaoInterface.class
/FuncaoDaoInterface.class
/FuncionarioDaoInterface.class
/GrupoDaoInterface.class
/HistoricoAlteracaoOSInterface.class
/HistoricoCancelamentoDaoInterface.class
/LocalDaoInterface.class
/ManutencaoCorretivaDaoInterface.class
/ManutencaoPreventivaDaoInterface.class
/OrcamentoDaoInterface.class
/OrdemServicoDaoInterface.class
/OsDePassagemDaoInterface.class
/ReceitaDaoInterface.class
/RecolhimentoDaoInterface.class
/RecursoDaoInterface.class
/RegistroSublocacaoDaoInterface.class
/TipoUsuarioDaoInterface.class
/UnidadeDaoInterface.class
/UsuarioDaoInterface.class
/ReciboDaoInterface.class
